<!DOCTYPE html>
<html>
    <head>
        <title>CROBBER, Social Media for CROBS</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <nav class="navbar sticky-top navbar-dark bg-dark">
            <a class="navbar-brand" href="/">CROBBER</a>
            <a class="navbar-brand" href="/logout">Craw :(</a>
        </nav>

        <div class="container">
            <h1>
                Sup {{ username }}
            </h1>
            <h3>Tell your fellow crobs how you're cawwing today.</h2>
            <form method="POST" action="/caw">
                <input type="text" name="le_caw" placeholder="cawwwww"></input>
                <button type="submit">Caw</button>
            </form>
            <div class="posts">
                {% for p in posts %}
                <div class="caw">
                    <img src="/static/img/{{ p.img }}.png" />
                    <div class="author">@{{ p.author }}</div>
                    <!-- TODO CROBATARS -->
                    <div class="message">{{ p.contents }}</div>
                    <div class="fries">
                        <form method="POST" action="/give_fry">
                            <input readonly type="hidden" value="{{ p.idnum }}" name="postiboi"></input>
                            <input readonly type="hidden" value="{{ p.points }}" name="frybois"></input>
                            <!-- to do: dynamically say fry/fries depending on quantity -->
                            {% if p.points == 1 %}
                            <label>&#127839; {{ p.points }} fry</label>
                            {% else %}
                            <label>&#127839; {{ p.points }} fries</label>
                            {% endif %}
                            <button type="submit">give <b>@{{ p.author }}</b> a french fry</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
